<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.css @ categories='blogpost.carouselnew'}" />


<div class="carousel__container" data-sly-use.carouseldata="com.mysite.core.models.CarouselNewModel">
    <h1>${carouseldata.sectionHeading}</h1>
    <div class="carousel__slider">
        <div class="carousel${carouseldata.carousel.size > 5 ? ' active' : ''}" data-sly-list.card="${carouseldata.carousel}">


            <div class="carousel__content">
                <div class="carousel__image" data-sly-test.carouselImage="${card.carouselBackground}"
                    style="background-image:url('${carouselImage @ context='styleString'}')">
                    <div class="carousel__overlay"></div>
                    <div class="carousel__text-container">
                        <h3 class="carousel__heading" data-sly-test.carouselHeading="${card.carouselHeading}">
                            ${carouselHeading}</h3>
                        <h2 class="carousel__main-heading"
                            data-sly-test.carouselMainHeading="${card.carouselMainHeading}">
                            ${carouselMainHeading}</h2>
                        <p class="carousel__text" data-sly-test.carouselText="${card.carouselText}">
                            ${carouselText}</p>
                        <button class="carousel__button"
                            data-sly-test.buttonText="${card.buttonText}">${buttonText}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
